<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 1000px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }

        .new-book-button {
            padding: 10px;
        }
    </style>
</head>
<body>
<h3>Books:</h3>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Comments Size</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">Voina i Mir</td>
        <td th:text="${book.author.fio}">L.N. Tolstoy</td>
        <td th:text="${book.genre.name}">Epic novel</td>
        <td th:text="${book.comments.size()}">
            <a th:href="@{/comments(id=${book.id})}">3</a>
        </td>
        <td>
            <a href="createOrUpdateBook.html" th:href="@{/createOrUpdateBook(id=${book.id})}">Edit</a>
            <a href="books.html" th:href="@{/deleteBook(id=${book.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<form class="new-book-button" method="GET" th:action="@{/createOrUpdateBook(id=null)}">
    <button type="submit" name="submit" value="value" class="link-button">Add new book</button>
</form>
</body>
</html>
