<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>

<body>
<form id="create-book-form" action="createBook.html" th:method="post" th:action="@{/createBook}" th:object="${bookDto}" >
    <!-- Book creation -->
    <h3>New Book Info:</h3>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" th:field="*{title}" type="text"/>
    </div>

    <div class="row">
        <label for="book-author-input">Author:</label>
        <input id="book-author-input" name="author" th:field="*{author.fio}" type="text"/>
    </div>

    <div class="row">
        <label for="book-genre-input">Genre:</label>
        <input id="book-genre-input" name="genre" th:field="*{genre.name}" type="text"/>
    </div>

    <div class="row">
        <a href="books.html" th:href="@{/}">
            <button type="submit">Add book</button>
        </a>
    </div>
</form>
</body>
</html>
